<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/StyleSheet1.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <title>UTM Talk</title>
</head>
<body>
    <div class="container">
        <img class="avatar" src="avatar1.png">
        <form method="post" class="register">
            <h1></h1>
            <div class="input-box">
                <input type="text" required="">
                <label>First Name</label>
            </div>
            <div class="input-box">
                <input type="text" required="">
                <label>Last Name:</label>
            </div>
            <div class="input-box">
                <input type="text" required="">
                <label>E-mail</label>
            </div>
            <div class="input-box">
                <input type="text" required="">
                <label>Username</label>
            </div>
            <div class="input-box">
                <input type="password" required="">
                <label>Password</label>
            </div>
            <button>Create</button>
            <br />
            <br />
        </form>
        <form method="post" class="login">
            <h1></h1>
            <div class="input-box">
                <input type="text" required="">
                <label>Username</label>
            </div>
            <div class="input-box">
                <input type="password" required="">
                <label>Password</label>
            </div>
            <p><span><input type="checkbox"></span> Remember Me</p>
            <button>Login</button>
            <br />
            <br />
        </form>
    </div>

</body>
</html>