<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/StyleSheet1.css">
	<title>UTM Talk</title>
</head>
<body>
	
		<div class="img"></div>
		<form method="post">
			
			<div class="register">
				<div class="container"></div>
				<h1>Sign Up</h1>
				<!-- <label>First Name:</label> -->
				<p> First Name </p>
				<input type="text" name="firstname" placeholder="First Name">
		
				
				<!-- <label>Last Name:</label> -->
				<p> Last Name </p>
				<input type="text" name="lastname" placeholder="Last Name">
		
				<!-- <label>Email:</label> -->
				<p> Email Address </p>
				<input type="text" name="email" placeholder="E-mail"/>

				<!-- <label>Username:</label> -->
				<p> Username </p>
				<input type="text" name="username" placeholder = "Username" />
		
				<!-- <label>Password:</label> -->
				<p> Password </p>
				<input type="password" name="password" placeholder = "********" />
		
				<button type="submit">Create User</button>
				
		
		</div>
		</form>
	
</body>
</html>