<!DOCTYPE html>
<html>
<body>
	
	<!-- Use the 'title' property to render a title element  -->
	<h1> Welcome! </h1>


	<form method="post">
		<div>
		<label>Say Something:</label>
		<input type="text" name="name" value = ""/>
		</div>
		
		<div>
		<input type="submit" value="Post" />
		</div>
		</form>

	
	<div><object data="test.txt"></object></div>


</html>

